
  .AvatarContainer {
    display: flex;
    align-items: center;
  }
  
  .Avatar {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .AvatarText {
    color: #8FB93C;
    margin-left: 20px;
  }