.NavBar {
    background-color: #D4ECE3;
}

.NavLink {
    padding: 5px;
    margin-right: 20px;
    color: #8FB93C;
}

.Active {
    color: green;
}

.Logo {
    position: absolute;
    left: 20px;
    top: 3px;
}