.Plant {
    background-color: #ffffff;
    border: 1px solid green;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }

.Type {
    text-transform: capitalize;
}

.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}
